* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.loginbox{
    width: 320px;
    height: 390px;
    background: #ffffff;
    color: #483d96;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
    border-radius: 13%;
    
}
.avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}
h1{
    margin: 0%;
    padding: 0 0 20px;
    font-size: 22px;
    text-align: center;
}
.loginbox p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}
.loginbox input{
    width: 100%;
    margin-bottom: 20px;

}

.loginbox input[type="text"], input[type="password"]
{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: rgb(0, 0, 0);
    font: 16px;
}
.loginbox input[type="submit"]
{
    border: none;
    outline: none;
    height: 40px;
    background: #8f7dff;
    color: whitesmoke;
    font-family: sans-serif;
    border-radius: 20px;
}
.loginbox input[type="submit"]:hover
{
    cursor: pointer;
    background:#f4f4fe;
    color:  #8f7dff;
    
}
.loginbox a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: cornflowerblue;
}
.loginbox a:hover{
    color: burlywood;
}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.loginbox select {
    width: 100%;
    margin-bottom: 20px;
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: rgb(0, 0, 0);
    font: 16px;
}

.loginbox textarea {
    width: 100%;
    margin-bottom: 20px;
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    color: rgb(0, 0, 0);
    font: 16px;
    resize: vertical; /* Optional: Allow vertical resizing of the textarea */
}

.loginbox input[type="date"] {
    width: 100%;
    margin-bottom: 20px;
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: rgb(0, 0, 0);
    font: 16px;
}

